* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

main {
    width: 100%;
    box-shadow: 0 0 120px rgba(0, 0, 0, .15);
}

/* header Section Styling */

header {
    padding: 40px 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div ul {
    display: flex;
    gap: 40px;
}

header nav div ul li {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #6E7684;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    list-style-type: disc;
}

header nav div li {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #6E7684;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    list-style-type: none;
}

header nav div button {
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px;
    background-color: #FF5924;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-left: 30px;
}

header nav div ul li:hover {
    color: black;
}

nav div {
    display: flex;
    align-items: center;
}

.title {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1 {
    font-family: "Gilda Display", serif;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
}

.title p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #4A5465;
    width: 520px;
    line-height: 42px;
    margin-top: 30px;
}

.bubble {
    border-radius: 36px;
    padding: 5px 20px;
    margin: 0 4px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.bubble.orange {
    background: linear-gradient(180deg, rgba(233, 143, 83, 0.06) 0%, rgba(233, 143, 83, 0) 100%);
    color: #E98F53;
    border: 1px solid #E98F53;
}

.bubble.pink {
    background: linear-gradient(180deg, rgba(228, 138, 191, 0.06) 0%, rgba(228, 138, 191, 0) 100%);
    color: #E48ABF;
    border: 1px solid #E48ABF;
}

.bubble.blue {
    background: linear-gradient(180deg, rgba(153, 210, 251, 0.06) 0%, rgba(153, 210, 251, 0) 100%);
    color: #99D2FB;
    border: 1px solid #99D2FB;
}

.bubble.red {
    background: linear-gradient(180deg, rgba(234, 114, 107, 0.06) 0%, rgba(234, 114, 107, 0) 100%);
    color: #EA726B;
    border: 1px solid #EA726B;
}

.bubble.yellow {
    background: linear-gradient(180deg, rgba(255, 207, 39, 0.06) 0%, rgba(255, 207, 39, 0) 100%);
    color: #FFCF27;
    border: 1px solid #FFCF27;
}

.title video {
    border-radius: 20px;
    margin-top: 30px;
    transition: 0.4s;
}

.title video:hover {
    opacity: 0.3;
}

.content-hero {
    background-image: url("Assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
}

.content-hero h4 {
    font-size: 16px;
    font-family: "inter", sans-serif;
    font-weight: 500;
}

.content-hero p {
    width: 800px;
    font-size: 42px;
    font-weight: 500;
    color: #3a475a;
    margin-top: 30px;
}

.content-hero p span {
    font-size: 84px;
    font-style: italic;
}

.promise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.promise p {
    font-size: 52px;
    width: 100%;

}

.promise p img {
    vertical-align: middle;
    margin-right: 10px;
}

.content-hero button{
    margin-left: 0;
    margin-top: 20px;
    cursor: pointer;
}

/* Same Styling */
button {
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px;
    background-color: #FF5924;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    box-shadow: 0px 8px 16px rgba(255, 89, 36, 0.2);
}