* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

main {
    width: 100%;
    box-shadow: 0 0 120px rgba(0, 0, 0, .15);
}

/* header Section Styling */

header {
    padding: 40px 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div ul {
    display: flex;
    gap: 40px;
}

header nav div ul li {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #6E7684;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    list-style-type: disc;
}

header nav div li {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: #6E7684;
    font-weight: 400;
    transition: 0.5s;
    cursor: pointer;
    list-style-type: none;
}

header nav div button {
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px;
    background-color: #FF5924;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-left: 30px;
}

header nav div ul li:hover {
    color: black;
}

nav div {
    display: flex;
    align-items: center;
}

.title {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1 {
    font-family: "Gilda Display", serif;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
}

.title p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #4A5465;
    width: 520px;
    line-height: 42px;
    margin-top: 30px;
}

.bubble {
    border-radius: 36px;
    padding: 5px 20px;
    margin: 0 4px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.bubble.orange {
    background: linear-gradient(180deg, rgba(233, 143, 83, 0.06) 0%, rgba(233, 143, 83, 0) 100%);
    color: #E98F53;
    border: 1px solid #E98F53;
}

.bubble.pink {
    background: linear-gradient(180deg, rgba(228, 138, 191, 0.06) 0%, rgba(228, 138, 191, 0) 100%);
    color: #E48ABF;
    border: 1px solid #E48ABF;
}

.bubble.blue {
    background: linear-gradient(180deg, rgba(153, 210, 251, 0.06) 0%, rgba(153, 210, 251, 0) 100%);
    color: #99D2FB;
    border: 1px solid #99D2FB;
}

.bubble.red {
    background: linear-gradient(180deg, rgba(234, 114, 107, 0.06) 0%, rgba(234, 114, 107, 0) 100%);
    color: #EA726B;
    border: 1px solid #EA726B;
}

.bubble.yellow {
    background: linear-gradient(180deg, rgba(255, 207, 39, 0.06) 0%, rgba(255, 207, 39, 0) 100%);
    color: #FFCF27;
    border: 1px solid #FFCF27;
}

.title video {
    border-radius: 20px;
    margin-top: 30px;
    transition: 0.4s;
}

.title video:hover {
    opacity: 0.3;
}

.content-hero {
    background-image: url("Assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
    padding-bottom: 170px;
}

.content-hero h4 {
    font-size: 16px;
    font-family: "inter", sans-serif;
    font-weight: 500;
}

.content-hero p {
    width: 800px;
    font-size: 42px;
    font-weight: 500;
    color: #3a475a;
    margin-top: 30px;
}

.content-hero p span {
    font-size: 84px;
    font-style: italic;
}

.promise {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.promise p {
    font-size: 52px;
    width: 100%;

}

.promise p img {
    vertical-align: middle;
    margin-right: 10px;
}

.content-hero button {
    margin-left: 0;
    margin-top: 20px;
    cursor: pointer;
}

/* Section Three Styling */

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    padding-top: 0;
}

.three h1 {
    font-size: 79px;
    font-family: "Gilda Display", serif;
    text-align: center;
    width: 1000px;
}

.three p {
    margin-top: 20px;
    width: 410px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #4a5465;
    line-height: 30px;
}

.three video {
    border-radius: 20px;
}

.three span {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}

.three span:hover {
    color: #FF5924;
}

.three span img {
    vertical-align: top;
    margin-right: 10px;
}

/* Four Section Styling */

.four {
    background-color: #F6F4F2;
    padding-top: 50px;
}

.four p {
    width: 500px;
}

/* Five Section Styling */

.five {
    background-color: #FF5924;
}

.five span {
    color: black !important;
}

.five h1 {
    width: 1100px;
}


.five p {
    color: white;
}

.five .play {
    color: white !important;
}

/* Six Section Styling */

.six {
    background: linear-gradient(180deg, #FF5924 0%, #FFC0B4 20.88%, #FFF1F1 85.07%);
    padding: 30px;
}

.six-box {
    background-color: white;
    padding: 0 45px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.six-box span {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    color: #FF5924;
    letter-spacing: 1px;
}

.six-box h1 {
    font-size: 94px;
    text-align: center;
    font-family: "glida display", serif;
    font-weight: 500;
}

.grid-box-one {
    display: grid;
    grid-template-columns: 520px 700px;
    gap: 50px;
    margin-top: 70px;
    cursor: pointer;
}

.grid-box-child {
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

.grid-box-child:hover {
    transform: scale(1.1);
}

.grid-box-child h2 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.grid-box-child p {
    font-size: 20px;
    width: 500px;
    font-family: "inter", sans-serif;
    margin-top: 15px;
    line-height: 30px;
    color: #4a5465;
}

.bg-color-DDE9D3 {
    background-color: #DDE9D3;
}

.bg-color-E5EAF2 {
    background-color: #E5EAF2;
}

.bg-color-E5EAF2 p {
    width: 550px;
}

.bg-color-E5EAF2 img {
    width: 100% !important;
}

.grid-box-child img {
    width: 480px;
}

.grid-box-two {
    display: grid;
    grid-template-columns: 700px 520px;
}

.bg-color-F3F0E7 {
    background-color: #F3F0E7;
}

.bg-color-DBE6FB {
    background-color: #DBE6FB;
}

.bg-color-F3F0E7 img {
    width: 100%;
}

.bg-color-DBE6FB p {
    width: 100%;
}


.tab-main {
    width: 100%;
    background-color: #FDFCFF;
    margin: 45px;
    border: 1px solid rgba(228, 232, 236, 0.5) !important;
    box-shadow: 0px 4px 7px -4px rgba(140, 142, 151, 0.32) !important;
    border-radius: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    padding: 60px;
    padding-bottom: 0;
}

.tab-heading h2 {
    font-size: 40px;
    font-family: "inter", sans-serif;
    font-weight: 400;
}

.tab-heading p {
    font-size: 20px;
    width: 500px;
    font-family: "inter", sans-serif;
    line-height: 30px;
    margin-top: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 24px;
    font-family: "inter", sans-serif;
    color: #AFB5C1;
    font-weight: 400;
    margin-left: 0;
    padding: 0;
    padding-right: 65px;
    margin-right: 31px;
    border-top: 2px solid #AFB5C1;
    border-radius: 0;
    padding-top: 13px;
    cursor: pointer;
}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #dddddd00;
    box-shadow: none;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: none;
    border-top: 2px solid #FF5924;
    color: black;
    transition: 0.4s;
}


.gap-close {
    padding-right: 118px !important;
    margin-right: 0 !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    transition: .4s;
}

.tab1_panel {
    background-image: url(Assets/feature-text-recognition-desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 700px;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    padding: 60px;
    padding-top: 0;
}

.tab-panel2 {
    background-image: url(Assets/feature-focus-mode-desktop.webp);
}

.tab-panel3 {
    background-image: url(Assets/feature-saving-highlights-desktop.webp);
}

.tab-panel4 {
    background-image: url(Assets/feature-private-share-link-desktop.webp);
}

.tab-image img {
    width: 500px;
}

#first_display {
    display: block !important;
}

.first-box-display {
    display: block;
}

/* Seven Section Styling */

.seven {
    padding: 45px;
    background-color: #FFF1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seven span {
    font-size: 16px;
    font-family: "inter", sans-serif;
    color: #FF5924;
}

.seven h1 {
    font-size: 80px;
    font-family: "Gilda Display", serif;
    margin-top: 20px;
    margin-bottom: 30px;
}


.boxtab {
    overflow: hidden;
    color: black;
}


.boxtab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(33, 37, 42, 0.4);
    transition: .4s;
}


.boxtab button:hover {
    background-color: none;
    box-shadow: none;
}

.boxtab button.active {
    background-color: none;
    color: #FF5924;
    font-weight: 500;
    font-size: 25px;
}


.boxtabcontent {
    display: none;
    padding: 6px 12px;
    width: 100%;
}

.mar-box-display {
    display: block;
}

.image-tab-box {
    background-image: url(Assets/for_Marketers_neue01-1.jpg);
    text-align: center;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-top: 40px;
    padding: 50px;
    border-radius: 10px;
    color: white;
}

.image-tab-box2 {
    background-image: url(Assets/for_designers_neue01-1.jpg);
    color: black;
}

.image-tab-box2 span {
    color: black !important;
}

.image-tab-box3 {
    background-image: url(Assets/for_writers_neue03.jpg);
    color: black;
}

.image-tab-box3 span {
    color: black !important;
}

.image-tab-box4 {
    background-image: url(Assets/for_researchers_neue01-1.jpg);
    color: black;
}

.image-tab-box4 span {
    color: black !important;
}

.image-tab-box5 {
    background-image: url(Assets/for_developers_neue01-1.jpg);
}

.image-tab-box6 {
    background-image: url(Assets/for_everyone_neue01-1-1.jpg);
    color: black;
}

.image-tab-box6 span {
    color: black !important;
}

.image-tab-box span {
    font-size: 20px;
    font-family: "inter", sans-serif;
    color: white;
}

.image-tab-box h1 {
    font-size: 80px;
    font-family: "Gilda Display", serif;
    margin-top: 20px;
    line-height: 90px;
}

/* Eight Section STyling */

.eight {
    background-color: #FFF1F1;
    padding: 45px;
    padding-top: 50px;
    background-image: url(Assets/Closing_statement_bg_new.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-y: 81px;
}

.eight img {
    position: relative;
}

.eight p {
    font-size: 50px;
    font-family: "Gilda Display", serif;
    line-height: 60px;
    color: black;
    font-weight: 600;
    margin-top: 60px;
    width: 900px;
    text-align: center;
}

.eight button {
    margin: 0;
    margin-top: 30px;
}

/* Nine Section Styling */

.nine {
    background-image: url(Assets/ninebg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 45px;
    padding-top: 0;
    background-size: cover;
}

.nine-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nine-img-box img {
    width: 600px;
}

.nine-img-box2 {
    display: flex;
}

.nine-img-box1 {
    position: relative;
    top: 80px;
    left: -40px;
}

.mymind-review-003 {
    position: relative;
    top: 30px;
}

.nine-img-box h1{
    font-size: 60px;
    margin-top: 30px;
    font-family: "Gilda Display", serif;
    color: white;
    width: 600px;
    text-align: center;
}

.mymind-review-004{
    position: relative;
    left: 100px;
}

.mymind-review-005{
    position: relative;
    top: -60px;
    left: -100px;
}

.nine-img-box span img{
    width: 20px;
    vertical-align: middle;
    margin-right: 15px;
}

.nine-img-box span{
    font-size: 16px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    transition: .4s;
    cursor: pointer;
}

.nine-img-box span:hover{
    color: #FF5924;
}

/* Same Styling */
button {
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px;
    background-color: #FF5924;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    box-shadow: 0px 8px 16px rgba(255, 89, 36, 0.2);
}